@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Oswald";
  font-display: swap;
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2");
}
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Oswald";
  font-display: swap;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2");
}
@font-face {
  font-style: normal;
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-weight: 400;
  font-size: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.main-header {
  position: relative;
  padding: 10px 0 17px 0;
}
@media (min-width: 768px) {
  .main-header {
    padding: 24px 0 64px 0;
  }
}
@media (min-width: 1024px) {
  .main-header {
    margin: 0;
    padding: 53px 0 74px 0;
  }
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  column-gap: 40px;
}
@media (min-width: 768px) {
  .main-header__wrapper {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1024px) {
  .main-header__wrapper {
    font-size: 20px;
    line-height: 30px;
  }
}
.no-js .main-header__wrapper {
  flex-direction: column;
  align-items: start;
}
@media (min-width: 768px) {
  .no-js .main-header__wrapper {
    flex-direction: row;
  }
}

.main-header__logo {
  display: flex;
  align-items: center;
  height: 36px;
}
@media (min-width: 768px) {
  .main-header__logo {
    height: 52px;
  }
}
@media (min-width: 1024px) {
  .main-header__logo {
    height: 59px;
  }
}

.main-header__nav {
  display: none;
}
@media (min-width: 768px) {
  .main-header__nav {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
}
@media (min-width: 1024px) {
  .main-header__nav {
    width: 49%;
  }
}
@media (max-width: 768px) {
  .is-open .main-header__nav {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
  }
}
.no-js .main-header__nav {
  display: flex;
  position: relative;
}

.main-header__nav-toggle {
  position: relative;
  z-index: 2;
  display: block;
  width: 24px;
  height: 16px;
  padding: 0;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.main-header__nav-toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 1px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}
@media (min-width: 768px) {
  .main-header__nav-toggle {
    display: none;
  }
}
@media (max-width: 768px) {
  .is-open .main-header__nav-toggle {
    display: block;
    width: 24px;
    height: 24px;
    background-color: inherit;
    border: none;
    cursor: pointer;
  }
  .is-open .main-header__nav-toggle::before, .is-open .main-header__nav-toggle::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 1px;
    background-color: #000000;
    border-top: 1px solid #000000;
  }
  .is-open .main-header__nav-toggle::before {
    top: 11px;
    left: 11px;
    box-shadow: none;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .is-open .main-header__nav-toggle::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
@media (min-width: 768px) {
  .is-open .main-header__nav-toggle {
    display: none;
  }
}
.no-js .main-header__nav-toggle {
  display: none;
}

.main-header__nav-list {
  display: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (max-width: 768px) {
  .is-open .main-header__nav-list {
    position: absolute;
    top: 62px;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #ffffff;
  }
}
@media (min-width: 768px) {
  .main-header__nav-list {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
}
.no-js .main-header__nav-list {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
}
@media (min-width: 768px) {
  .no-js .main-header__nav-list {
    flex-direction: row;
  }
}

.main-header__nav-item {
  padding: 22px 5px 24px 5px;
  text-align: center;
  border-top: 1px solid #eaeaea;
}
@media (min-width: 768px) {
  .main-header__nav-item {
    position: relative;
    margin: 0 30px 15px 0;
    padding: 0;
    border: none;
  }
  .main-header__nav-item:nth-child(3) {
    margin: 0 0 15px 0;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .main-header__nav-item {
    margin: 0 32px 15px 0;
  }
}
.no-js .main-header__nav-item {
  text-align: left;
}

.main-header__nav-link {
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}
@media (min-width: 768px) {
  .main-header__nav-link--current::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #68b738;
  }
}
@media (min-width: 1024px) {
  .main-header__nav-link--current::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #68b738;
  }
}
@media (min-width: 1024px) {
  .main-header__nav-link--main {
    color: #ffffff;
  }
}

@media (min-width: 1024px) {
  .main-header__nav-link--main-current::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }
}

.intro {
  margin: 0 0 20px 0;
  padding: 0;
}
@media (min-width: 768px) {
  .intro {
    padding: 0;
    margin: 0;
  }
}

.intro__wrapper {
  margin: 0 -20px;
}
@media (min-width: 1024px) {
  .intro__wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 0 0 160px;
    margin: 0;
  }
}

.intro__container-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 302px;
  margin: 0;
  padding: 27px 30px 164px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 -130px 0;
  color: #ffffff;
  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index/background-intro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .intro__container-intro {
    min-height: 181px;
    padding: 0 207px 0 77px;
    color: #000000;
    background: none;
  }
}
@media (min-width: 1024px) {
  .intro__container-intro {
    display: flex;
    flex-direction: column;
    margin: 0 0 53px 0;
    padding: 82px 0 131px 0;
  }
}

.intro__container-img {
  display: flex;
  flex-direction: column;
  transform: translateY(-35px);
}
@media (min-width: 768px) {
  .intro__container-img {
    position: relative;
    z-index: -1;
    width: 100%;
    margin: 0;
    transform: none;
  }
}
@media (min-width: 1024px) {
  .intro__container-img {
    min-width: 440px;
    transform: translateX(-46px);
    align-items: flex-start;
  }
}

.intro__img {
  align-self: center;
  margin: 0;
}
@media (min-width: 1024px) {
  .intro__img {
    width: 100%;
    height: 100%;
  }
}

.intro__title {
  margin: 0 0 25px 0;
  padding: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}
@media (min-width: 768px) {
  .intro__title {
    display: block;
    margin: 0 0 41px 0;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
}

.intro__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .intro__text {
    align-self: start;
    margin: 0 0 49px 0;
    font-size: 20px;
    line-height: 20px;
  }
}

.intro__button {
  display: block;
  width: 280px;
  padding: 7px 20px;
  font-size: 14px;
  line-height: 18px;
  transform: translateY(302px);
}
@media (min-width: 768px) {
  .intro__button {
    position: relative;
    transform: none;
    align-self: flex-start;
    width: 244px;
    padding: 14px 20px;
    font-size: 20px;
    line-height: 20px;
  }
}
.programs {
  margin: 0 0 20px 0;
}
@media (min-width: 768px) {
  .programs {
    margin-bottom: 45px;
  }
}
@media (min-width: 1024px) {
  .programs {
    margin-bottom: 71px;
  }
}

.programs__list {
  display: grid;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
}
@media (min-width: 768px) {
  .programs__list {
    gap: 30px;
  }
}
@media (min-width: 1024px) {
  .programs__list {
    gap: 80px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.programs__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 21px 33px 18px 19px;
}
@media (min-width: 768px) {
  .programs__item {
    display: grid;
    padding: 77px 62px 53px 52px;
    column-gap: 54px;
    background-color: #f2f2f2;
    grid-template-columns: 2fr 1fr;
  }
}
@media (min-width: 1024px) {
  .programs__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
.programs__item::before {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%;
}
.programs__item--weightloss::before {
  content: url("/img/index/weightloss-icon.png");
  position: absolute;
  width: 50px;
  height: 50px;
}
@media (min-width: 768px) {
  .programs__item--weightloss::before {
    position: relative;
    width: 200px;
    height: 200px;
    grid-column: 2;
    grid-row: 1/2;
  }
}
@media (min-width: 1024px) {
  .programs__item--weightloss::before {
    position: absolute;
    width: 100px;
    height: 100px;
  }
}
.programs__item--weightgain::before {
  content: url("/img/index/weightgain-icon.png");
  position: absolute;
  width: 50px;
  height: 50px;
}
@media (min-width: 768px) {
  .programs__item--weightgain::before {
    position: relative;
    width: 200px;
    height: 200px;
    grid-column: 2;
    grid-row: 1/2;
  }
}
@media (min-width: 1024px) {
  .programs__item--weightgain::before {
    position: absolute;
    width: 100px;
    height: 100px;
  }
}

.programs__card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.programs__card::after {
  content: "";
  position: absolute;
  bottom: 15px;
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
}
@media (min-width: 768px) {
  .programs__card::after {
    display: none;
  }
}

.programs__title {
  min-height: 50px;
  margin: 0 0 22px 0;
  padding: 0 0 0 91px;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .programs__title {
    margin-bottom: 24px;
    padding: 0;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1024px) {
  .programs__title {
    margin: 0 0 73px 0;
    padding: 36px 0 0 162px;
  }
}

.programs__item {
  background-color: #f2f2f2;
}

.programs__text {
  margin: 0 0 38px 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  font-family: "Lato", "Arial", sans-serif;
}
@media (min-width: 768px) {
  .programs__text {
    font-size: 16px;
    line-height: 24px;
  }
}

.programs__button {
  position: relative;
  line-height: 16px;
  font-family: inherit;
  text-align: left;
  text-transform: uppercase;
  border: none;
}
@media (min-width: 768px) {
  .programs__button {
    font-size: 20px;
    line-height: 30px;
    background-color: inherit;
  }
}
.programs__button::after {
  content: url("/img/index/program-arrow.png");
  width: 24px;
  height: 12px;
  padding: 0 0 0 15px;
}

.work {
  margin: 0 0 49px 0;
  padding: 0;
}
@media (min-width: 768px) {
  .work {
    margin-bottom: 90px;
  }
}
@media (min-width: 1024px) {
  .work {
    margin-bottom: 69px;
  }
}

.work__title {
  margin: 0 0 40px 0;
  padding: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}
@media (min-width: 768px) {
  .work__title {
    margin: 0 0 32px 0;
    font-size: 60px;
    line-height: 60px;
  }
}

.work__list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style-type: none;
  row-gap: 20px;
}
@media (min-width: 768px) {
  .work__list {
    padding: 0 75px 0 0;
    column-gap: 153px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 280px);
    row-gap: 37px;
  }
}
@media (min-width: 1024px) {
  .work__list {
    justify-content: space-between;
    padding: 0;
    column-gap: 77px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 280px);
  }
}

.work__item {
  position: relative;
  display: grid;
  align-items: center;
  margin: 0;
  column-gap: 20px;
  grid-template-columns: 60px auto;
}
.work__item::before {
  content: "";
  width: 60px;
  height: 60px;
  background-color: #68b738;
}
.work__item--step1::before {
  background-image: url("/img/index/step-1.png");
  background-repeat: no-repeat;
  background-position: center;
}
.work__item--step2::before {
  background-image: url("/img/index/step-2.png");
  background-repeat: no-repeat;
  background-position: center;
}
.work__item--step3::before {
  background-image: url("/img/index/step-3.png");
  background-repeat: no-repeat;
  background-position: center;
}
.work__item--step4::before {
  background-image: url("/img/index/step-4.png");
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .work__item {
    display: flex;
    flex-wrap: wrap;
  }
  .work__item--step1::after {
    content: "1";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
  }
  .work__item--step2::after {
    content: "2";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
  }
  .work__item--step3::after {
    content: "3";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
  }
  .work__item--step4::after {
    content: "4";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
  }
}
@media (min-width: 1024px) {
  .work__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 31px;
    align-items: baseline;
  }
}

.work__description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  font-family: "Lato", "Arial", sans-serif;
}
@media (min-width: 768px) {
  .work__description {
    font-size: 16px;
    line-height: 24px;
  }
}

.example {
  padding: 25px 0 0 0;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .example {
    background-color: #ffffff;
  }
}

.example__wrapper {
  padding: 0 0 40px 0;
}
@media (min-width: 768px) {
  .example__wrapper {
    padding: 0;
  }
}
@media (min-width: 1024px) {
  .example__wrapper {
    background-color: #eaeaea;
  }
}

@media (min-width: 1024px) {
  .example__wrapper-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0 75px 0;
  }
}

@media (min-width: 768px) {
  .example__wrapper-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 54px;
  }
}
@media (min-width: 1024px) {
  .example__wrapper-list {
    align-self: flex-start;
    max-width: 436px;
  }
}

.example__list {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  margin: 0 0 20px 0;
  padding: 0;
  list-style-type: none;
  column-gap: 32px;
  grid-template-columns: repeat(2, 124px);
}
@media (min-width: 768px) {
  .example__list {
    margin: 0;
    column-gap: 42px;
    grid-template-columns: repeat(2, 162px);
  }
}

.example__list-cat-slider {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.example__title {
  margin: 0 0 40px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}
@media (min-width: 768px) {
  .example__title {
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1024px) {
  .example__title {
    margin-bottom: 76px;
  }
}

.example__description {
  margin: 0 0 20px 0;
  font-size: 14px;
  line-height: 18px;
  font-family: "Lato", "Arial", sans-serif;
}
@media (min-width: 768px) {
  .example__description {
    font-size: 16px;
    line-height: 24px;
  }
}

.example__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.example__item-title {
  width: 100%;
  margin: 0;
  padding: 14px 5px 18px 5px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}
@media (min-width: 768px) {
  .example__item-title {
    padding: 15px 5px 20px 5px;
    font-size: 30px;
    line-height: 37px;
  }
}

.example__item-description {
  position: relative;
  margin: -9px 0 0 0;
  padding: 0 10px;
  font-size: 12px;
  line-height: 12px;
  font-family: "Lato", "Arial", sans-serif;
  text-align: center;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .example__item-description {
    margin: -7px 0 0 0;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }
}
@media (min-width: 1024px) {
  .example__item-description {
    background-color: #eaeaea;
  }
}

@media (min-width: 768px) {
  .example__item-description-br {
    display: none;
  }
}

.example__text {
  display: block;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .example__text {
    width: 174px;
    font-size: 20px;
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    row-gap: 9px;
  }
}
@media (min-width: 1024px) {
  .example__text {
    width: 100%;
    text-align: left;
    column-gap: 63px;
  }
}

.example__wrapper-slider {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .example__wrapper-slider {
    margin: 250px -30px 0 -30px;
    padding: 0 0 30px 0;
    background-color: #eaeaea;
  }
}
@media (min-width: 1024px) {
  .example__wrapper-slider {
    margin: 0;
  }
}

.example__list-cat-slider-img {
  align-self: center;
}
@media (min-width: 768px) {
  .example__list-cat-slider-img {
    width: 560px;
    height: 512px;
    margin: -151px 0 0 0;
  }
}
@media (min-width: 1024px) {
  .example__list-cat-slider-img {
    margin: -175px 0 0 0;
  }
}

.contacts {
  position: relative;
  margin: 0;
}
.contacts--grey {
  background-color: #f2f2f2;
}
@media (min-width: 1024px) {
  .contacts--grey {
    background-color: transparent;
  }
}
@media (min-width: 1024px) {
  .contacts {
    padding: 95px 0 107px 0;
  }
}

.contacts__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 26px 0;
}
@media (min-width: 768px) {
  .contacts__wrapper {
    padding: 56px 40px;
  }
}
@media (min-width: 1024px) {
  .contacts__wrapper {
    top: 95px;
    left: 70px;
    width: 565px;
    padding: 56px 80px;
    background-color: #ffffff;
  }
}

.contacts__title {
  display: block;
  max-width: 139px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .contacts__title {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__description {
  display: block;
  max-width: 139px;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-family: "Lato", "Arial", sans-serif;
}
@media (min-width: 768px) {
  .contacts__description {
    font-size: 16px;
  }
}

.contacts__map {
  width: 100%;
}
@media (min-width: 1024px) {
  .contacts__map {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 400px;
  }
}

.contacts__img {
  display: block;
  min-width: 100%;
  min-height: 100%;
  border: none;
  object-fit: cover;
}

.main-footer {
  background-color: #f2f2f2;
}

.main-footer__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 39px 0 22px 0;
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 57px 0;
  }
}

.main-footer__logo {
  padding: 0 0 32px 0;
  margin: 0;
}
@media (min-width: 768px) {
  .main-footer__logo {
    margin: 0;
    padding: 0;
    border: none;
  }
}
.main-footer__logo::after {
  content: "";
  background-color: #d9d9d9;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 95px;
  left: 0;
}
@media (min-width: 768px) {
  .main-footer__logo::after {
    display: none;
  }
}

.main-footer__list {
  display: grid;
  margin: 0;
  padding: 20px 0 21px 0;
  list-style-type: none;
  column-gap: 26px;
  grid-template-columns: repeat(3, 1fr);
}
@media (min-width: 768px) {
  .main-footer__list {
    margin: 0;
    padding: 0;
  }
}
.main-footer__list::after {
  content: "";
  background-color: #d9d9d9;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 158px;
  left: 0;
}
@media (min-width: 768px) {
  .main-footer__list::after {
    display: none;
  }
}

.main-footer__logo-html {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 22px 0 0 0;
  font-size: 16px;
  line-height: 19px;
  font-family: "Lato", "Arial", sans-serif;
  color: #444444;
  text-decoration: none;
}
@media (min-width: 768px) {
  .main-footer__logo-html {
    padding: 0;
  }
}

.main-footer__link {
  color: #666666;
}

.main-footer__logo-html-link {
  font-family: "Lato", "Arial", sans-serif;
}
@media (min-width: 768px) {
  .main-footer__logo-html-link {
    margin: 0 23px 0 0;
  }
}

.catalog {
  padding: 27px 0 0 0;
  border-top: 1px solid #ebebeb;
}
@media (min-width: 768px) {
  .catalog {
    border: none;
    padding: 0;
  }
}

.catalog__container {
  display: grid;
  row-gap: 49px;
}

.catalog__title {
  margin: 0 0 41px 0;
  padding: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}
@media (min-width: 768px) {
  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 82px 0;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .catalog__title {
    margin: 0 0 84px 0;
  }
}

.catalog__products {
  display: grid;
  margin: 0 0 50px 0;
  border-bottom: 1px solid #ebebeb;
}
@media (min-width: 768px) {
  .catalog__products {
    margin: 0 0 68px 0;
    gap: 60px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .catalog__products {
    margin: 0 0 75px 0;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: none;
    column-gap: 80px;
  }
}

.catalog__product {
  position: relative;
  display: grid;
  padding: 11px 0 14px 0;
  row-gap: 13px;
  margin: 0 -20px 0 -20px;
  padding: 19px 20px 25px 20px;
  border-top: 1px solid #ebebeb;
}
@media (min-width: 768px) {
  .catalog__product {
    display: flex;
    flex-direction: column;
    padding: 0 36px 39px 36px;
    margin: 0;
    border: none;
    background: linear-gradient(180deg, white 73px, #f2f2f2 73px);
    row-gap: 33px;
  }
}
@media (min-width: 1024px) {
  .catalog__product {
    padding: 0 30px 40px 35px;
    background: linear-gradient(180deg, white 80px, #f2f2f2 80px);
  }
}

@media (min-width: 768px) {
  .catalog__product--all {
    justify-content: center;
    justify-content: flex-end;
    align-items: center;
    height: calc(100% - 78px);
    margin: 73px 0 0 0;
    padding: 161px 37px 38px 38px;
    background: #ffffff;
    border: 2px solid #f2f2f2;
    row-gap: 87px;
  }
  .catalog__product--all::before {
    content: "";
    position: absolute;
    top: 52px;
    width: 0;
    height: 60px;
    border: 1px solid #D3D3D3;
  }
  .catalog__product--all::after {
    content: "";
    position: absolute;
    top: 82px;
    width: 60px;
    height: 0;
    border: 1px solid #D3D3D3;
  }
}
@media (min-width: 1024px) {
  .catalog__product--all {
    margin: 80px 0 0 0;
    padding: 161px 40px 38px 40px;
  }
  .catalog__product--all::before {
    content: "";
    position: absolute;
    top: 51px;
    width: 1px;
    height: 60px;
    border: 1px solid #D3D3D3;
  }
  .catalog__product--all::after {
    content: "";
    position: absolute;
    top: 81px;
    width: 60px;
    height: 0;
    border: 1px solid #D3D3D3;
  }
}

.catalog__product-card-all {
  text-align: center;
}
@media (min-width: 768px) {
  .catalog__product-card-all {
    padding: 0 65px;
  }
}
@media (min-width: 768px) {
  .catalog__product-card-all {
    padding: 0;
  }
}

.catalog__product__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 768px) {
  .catalog__product__wrapper {
    display: flex;
    flex-direction: column;
  }
}

.catalog__img {
  display: flex;
  justify-content: center;
  align-self: center;
}
@media (min-width: 768px) {
  .catalog__img {
    margin-bottom: 34px;
  }
}
@media (min-width: 1024px) {
  .catalog__img {
    margin-bottom: 46px;
  }
}

.catalog__product-container {
  display: grid;
  row-gap: 18px;
}

.catalog__product-title {
  margin: 0;
  width: 76px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .catalog__product-title {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    width: 100%;
  }
}

.catalog__product-title-br {
  display: none;
}
@media (min-width: 768px) {
  .catalog__product-title-br {
    display: block;
  }
}

.catalog__product-description {
  display: grid;
  margin: 0 0 9px 0;
  font-size: 12px;
  line-height: 16px;
  font-family: "Lato", "Arial", sans-serif;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 2px;
}

.catalog__description-item {
  position: relative;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .catalog__description-item {
    padding: 0 0 9px 0;
    border-bottom: 1px solid #c4c4c4;
  }
}

.catalog__description-definition {
  margin: 0;
}

.catalog__product-link {
  padding: 10px;
  line-height: 20px;
}
.catalog__product-link--all {
  color: #444444;
  background-color: #f2f2f2;
  border: none;
}
@media (min-width: 768px) {
  .catalog__product-link--all {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .catalog__product-link {
    min-width: 39px;
  }
}

.catalog__product-all-title {
  margin: 0 0 8px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .catalog__product-all-title {
    margin: 0 0 23px 0;
  }
}

.catalog__product-all-text {
  margin: 0 0 7px 0;
  font-size: 12px;
  line-height: 16px;
  font-family: "Lato", "Arial", sans-serif;
}

.catalog-additionally {
  position: relative;
}
.catalog-additionally::before {
  content: "";
  z-index: -1;
  position: absolute;
  width: calc(100% - 20px);
  height: 2px;
  left: 20px;
  top: 12px;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .catalog-additionally {
    margin: 0 0 86px 0;
  }
  .catalog-additionally::before {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    top: 21px;
    background-color: #68b738;
  }
}

.catalog-additionally__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0 0 36px 0;
  padding: 0 21px 0 0;
  background-color: #ffffff;
  display: inline-flex;
}
@media (min-width: 768px) {
  .catalog-additionally__title {
    margin: 0 0 80px 0;
    font-size: 36px;
    line-height: 36px;
    padding: 0 36px 0 37px;
  }
}
@media (min-width: 768px) {
  .catalog-additionally__title {
    margin-bottom: 81px;
    padding: 0 35px 0 40px;
  }
}

@media (min-width: 1024px) {
  .catalog-additionally__wrapper {
    display: grid;
    grid-template-columns: 73% 6% 21%;
    align-items: center;
  }
}

.catalog-additionally__present {
  width: 100%;
  padding: 187px 61px 43px 58px;
  margin: 0 0 35px 0;
  line-height: 20px;
  font-family: "Lato", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/background-additionally.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.catalog-additionally__present::after {
  content: "";
  background-image: url("../img/catalog/icon_gift.png");
  width: 78px;
  height: 80px;
  position: absolute;
  top: 59px;
  left: 36%;
}
@media (min-width: 768px) {
  .catalog-additionally__present {
    padding: 71px 124px 69px 422px;
    text-align: left;
  }
  .catalog-additionally__present::after {
    content: "";
    background-image: url("../img/catalog/icon_gift.png");
    width: 78px;
    height: 80px;
    position: absolute;
    top: 57px;
    left: 11%;
  }
}
@media (min-width: 1024px) {
  .catalog-additionally__present {
    padding: 185px 43px 43px 41px;
    text-align: center;
    grid-column: 3;
    grid-row: 1;
    margin: 0;
  }
  .catalog-additionally__present::after {
    content: "";
    background-image: url("../img/catalog/icon_gift.png");
    width: 78px;
    height: 80px;
    position: absolute;
    top: 56px;
    left: 34%;
  }
}

.additionally {
  margin: 0 0 35px 0;
}
@media (min-width: 768px) {
  .additionally {
    margin: 0 0 69px 0;
  }
}
@media (min-width: 1024px) {
  .additionally {
    margin: 0;
    grid-column: 1/2;
  }
}

.additionally__list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-bottom: 1px solid #c4c4c4;
}
@media (min-width: 768px) {
  .additionally__list {
    position: relative;
    margin: 0 0 69px 0;
    padding: 0;
    border: none;
  }
}
@media (min-width: 1024px) {
  .additionally__list {
    margin: 0;
    border-right: none;
    border-left: none;
  }
}

.additionally__title {
  margin: 0 0 13px 0;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .additionally__title {
    margin: 0 10px 0 0;
    font-size: 20px;
    line-height: 20px;
  }
}

.additionally__list-item {
  position: relative;
  padding: 13px 0 19px 0;
  border-top: 1px solid #c4c4c4;
}
@media (min-width: 768px) {
  .additionally__list-item {
    display: grid;
    padding: 26px 38px 28px 38px;
    border: 1px solid #c4c4c4;
    border-bottom: none;
    row-gap: 22px;
  }
}
@media (min-width: 1024px) {
  .additionally__list-item {
    display: grid;
    align-items: center;
    padding: 15px 0 17px 0;
    border: none;
    border-top: 1px solid #c4c4c4;
    row-gap: 0;
    grid-template-columns: 35% 34% 27%;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .additionally__list-item:last-child {
    border-bottom: 1px solid #c4c4c4;
  }
}

.additionally__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .additionally__item {
    justify-content: flex-end;
  }
}
@media (min-width: 1024px) {
  .additionally__item {
    display: grid;
    grid-template-columns: 60% 40%;
  }
}

.additionally__item-definition {
  align-self: flex-start;
}

.additionally__description {
  margin: 0 0 15px 0;
  font-size: 14px;
  line-height: 14px;
  font-family: "Lato", "Arial", sans-serif;
}
@media (min-width: 768px) {
  .additionally__description {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    grid-column: 2;
  }
}
@media (min-width: 1024px) {
  .additionally__description {
    align-self: center;
  }
}

.additionally__button {
  padding: 10px 10px;
  line-height: 20px;
  font-family: inherit;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .additionally__button {
    grid-column: 1/3;
    grid-row: 2;
  }
}
@media (min-width: 1024px) {
  .additionally__button {
    padding: 7px 26px;
    grid-column: 3;
    grid-row: 1;
  }
}

.form__form-container {
  padding: 27px 0 0 0;
  overflow: hidden;
  text-transform: uppercase;
  border-top: 1px solid #ebebeb;
}
@media (min-width: 768px) {
  .form__form-container {
    margin: 0 0 72px 0;
    padding: 0 40px;
    border: none;
  }
}

.form__title {
  margin: 0 0 37px 0;
  padding: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
}
@media (min-width: 768px) {
  .form__title {
    margin-bottom: 54px;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1024px) {
  .form__title {
    margin-bottom: 56px;
  }
}

.form__subtitle {
  margin: 0 0 39px 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .form__subtitle {
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__subtitle-br {
  display: none;
}
@media (min-width: 768px) {
  .form__subtitle-br {
    display: block;
  }
}

.form__main-wrapper {
  margin: 0 0 26px 0;
}
@media (min-width: 768px) {
  .form__main-wrapper {
    margin-bottom: 75px;
  }
}
@media (min-width: 1024px) {
  .form__main-wrapper {
    display: grid;
    margin: 0 0 69px 0;
    gap: 80px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.form__info {
  padding: 0;
  border: none;
}
@media (min-width: 768px) {
  .form__info {
    margin-bottom: 72px;
  }
}
@media (min-width: 1024px) {
  .form__info {
    margin-bottom: 0;
  }
}

.form__input-list {
  display: flex;
  flex-direction: column;
  margin: 0 -20px;
  padding: 0 20px 24px 20px;
  border-bottom: 1px solid #d9d9d9;
  gap: 14px;
}
@media (min-width: 1024px) {
  .form__input-list--contacts {
    display: grid;
    gap: 78px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .form__input-list {
    border: none;
    margin: 0;
    padding: 0;
  }
}

.form__input-list-item {
  display: flex;
  align-items: center;
  line-height: 18px;
  color: #444444;
  gap: 13px;
}
@media (min-width: 768px) {
  .form__input-list-item {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__input-list-text {
  margin: 0;
}

.form__input-list-input {
  width: auto;
  flex-grow: 1;
  margin: 0;
  padding: 14px 35px 13px 20px;
  line-height: 18px;
  font-family: inherit;
  color: #444444;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
}
.form__input-list-input--comment {
  padding: 10px 12px 10px 15px;
  font-size: 16px;
  line-height: 18px;
  width: 100%;
}
@media (min-width: 768px) {
  .form__input-list-input {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__purpose {
  padding: 0;
  border: none;
}
.form__radio-list {
  display: flex;
  flex-direction: column;
  margin: 0 -20px;
  padding: 22px 20px 19px 20px;
  border-bottom: 1px solid #d9d9d9;
  gap: 13px;
}
@media (min-width: 768px) {
  .form__radio-list {
    padding: 25px 0 25px 28px;
    margin: 0;
    border: none;
    border: 1px solid #e7e7e7;
  }
}

.form__radio-list-item {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 30px;
  padding-left: 45px;
  color: #222222;
  cursor: pointer;
}
@media (min-width: 768px) {
  .form__radio-list-item {
    min-height: 40px;
    padding-left: 60px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__radio-list-input[type=radio]:checked + .form__radio-list-input-mark::before {
  content: "";
  position: absolute;
  top: 25%;
  left: 25%;
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .form__radio-list-input[type=radio]:checked + .form__radio-list-input-mark::before {
    width: 18px;
    height: 18px;
  }
}

.form__radio-list-input-mark {
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .form__radio-list-input-mark {
    width: 40px;
    height: 40px;
  }
}

.form__contacts-wrapper {
  position: relative;
  margin: 0 -20px;
  padding: 0 20px;
}
.form__contacts-wrapper::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 50px;
  z-index: -1;
  width: calc(100% - 20px);
  height: 2px;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .form__contacts-wrapper {
    margin: 0 -40px;
    padding: 0 40px;
  }
  .form__contacts-wrapper::before {
    content: "";
    position: absolute;
    top: 18px;
    left: 0px;
    z-index: -1;
    width: 100%;
    height: 2px;
    background-color: #68b738;
  }
}

.form__comment-wrapper {
  position: relative;
  margin: 0 -20px;
  padding: 0 20px;
}
.form__comment-wrapper::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 50px;
  z-index: -1;
  width: calc(100% - 20px);
  height: 2px;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .form__comment-wrapper {
    margin: 0 -40px;
    padding: 0 40px;
  }
  .form__comment-wrapper::before {
    content: "";
    position: absolute;
    top: 18px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 2px;
    background-color: #68b738;
  }
}

.form__additionally-wrapper {
  position: relative;
  margin: 0 -20px;
  padding: 0 20px;
}
.form__additionally-wrapper::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 50px;
  z-index: -1;
  width: calc(100% - 20px);
  height: 2px;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .form__additionally-wrapper {
    margin: 0 -40px 54px -40px;
    padding: 0 40px;
  }
  .form__additionally-wrapper::before {
    content: "";
    position: absolute;
    top: 18px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 2px;
    background-color: #68b738;
  }
}

.form__contacts {
  position: relative;
  margin: 0 0 24px 0;
  padding: 0;
  border: none;
}
@media (min-width: 768px) {
  .form__contacts {
    margin-bottom: 65px;
  }
}

.form__legend {
  display: inline-flex;
  margin: 0 0 35px 0;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  text-transform: none;
  background-color: #ffffff;
}
.form__legend--contacts {
  padding: 0 14px 0 0;
}
.form__legend--comment {
  padding: 0 22px 0 0;
}
.form__legend--additionally {
  padding: 0 23px 0 0;
}
@media (min-width: 768px) {
  .form__legend {
    margin: 0 -40px 76px -40px;
    padding: 0 40px;
    font-size: 36px;
    line-height: 36px;
  }
  .form__legend--additionally {
    margin: 0 -40px 56px -40px;
    padding: 0 40px;
  }
}

@media (min-width: 768px) {
  .form__legend-br {
    display: none;
  }
}

.form__comment {
  margin: 0 0 23px 0;
  padding: 0;
  border: none;
}
@media (min-width: 768px) {
  .form__comment {
    margin-bottom: 65px;
  }
}

.form__additionally {
  margin: 0 0 34px 0;
  padding: 0;
  border: none;
}

.form__checkbox-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
@media (min-width: 768px) {
  .form__checkbox-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .form__checkbox-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.form__checkbox-list-item {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 30px;
  padding-left: 46px;
}
@media (min-width: 768px) {
  .form__checkbox-list-item {
    font-size: 20px;
    line-height: 30px;
    min-height: 40px;
    padding-left: 60px;
  }
}

.form__checkbox-list-input[type=checkbox]:checked + .form__checkbox-mark {
  background-image: url("/img/form/mark-square.png");
  background-repeat: no-repeat;
  background-position: center;
}

.form__checkbox-mark {
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #c4c4c4;
}
@media (min-width: 768px) {
  .form__checkbox-mark {
    width: 40px;
    height: 40px;
  }
}

.form__button-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 0 32px 0;
}
@media (min-width: 768px) {
  .form__button-wrapper {
    display: grid;
    gap: 64px;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
  }
}

.form__button {
  width: 100%;
  min-height: 40px;
  margin: 0 0 21px 0;
  padding: 7px 10px;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form__button {
    margin: 0;
    min-height: 52px;
    font-size: 20px;
  }
}

.form__text {
  font-size: 14px;
  line-height: 16px;
  font-family: "Lato", "Arial", sans-serif;
  text-transform: none;
}
@media (min-width: 768px) {
  .form__text {
    font-size: 16px;
  }
}

.button {
  display: block;
  font-family: inherit;
  text-align: center;
  text-transform: uppercase;
  border: none;
}
.button--green {
  color: #ffffff;
  background-color: #68b738;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 1024px) {
  .container {
    padding: 0 40px;
  }
}

.intro-container {
  position: relative;
}
@media (min-width: 1024px) {
  .intro-container {
    margin: 0 0 82px 0;
  }
}

@media (min-width: 1024px) {
  .intro-container::before {
    content: "";
    position: absolute;
    left: 50%;
    z-index: -1;
    width: 50%;
    height: 100%;
    background: linear-gradient(180deg, white 0%, rgba(104, 183, 56, 0.85) 0%), url(../img/index/background-intro.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
  }
}
/*# sourceMappingURL=style.css.map */